@page "/"
@inherits IndexPageBase

@if (HasLoaded)
{
    <button @onclick="@Reset">Reset</button>
    <input type="range" min="1" max="100" class="slider" value="@Frequency" @oninput="@((args) => {
                                                                                                      Frequency = Convert.ToInt32(args.Value); 
                                                                                                      Delay = 100 - Frequency;
                                                                                                      StateHasChanged(); })">

    <GameOfLife Width=@Width Height=@Height @ref=@GameOfLifeRef Delay="@Delay">
        <canvas width="@Width" height="@Height"></canvas>
    </GameOfLife>
}